body{
    overflow: hidden;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: min-content; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: calc(100vw - 4rem);
    background-color: rgba(0,0,0,0); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  }

.navbar{
    z-index: 3;
}

.exit{
    margin-left: 5vh;
}

input{
    border: 0;
    padding: 0 !important;
}

.pageContainer{
    height: calc(100vh - 144px);
    overflow: scroll;
    padding-left: 8vw;
    padding-right: 8vw;
    overflow-x: hidden;
}



@media (max-width: 1198px){
    .pageContainer{
        padding-left: 3vw;
        padding-right: 3vw;
    }

}


@media (max-width: 1200px){
    .pageContainer{
        padding-left: 3vw;
        padding-right: 3vw;
    }
}

.loadingPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (prefers-color-scheme: dark) {
    .card{
        background-color: var(--bs-gray-dark);
    }
    .statsCard{
        background-color: var(--bs-dark)!important; 
    }
    .largeStatsCard{
        background-color: var(--bs-dark)!important; 
    }
    .dropdownCard{
        background-color: var(--bs-dark)!important; 
    }
    .largeDropdownCard{
        background-color: var(--bs-dark)!important; 
    }
    .subcard{
        background-color: var(--bs-dark)!important; 
    }
    input{
        background-color: var(--bs-dark)!important; 
        color: white;
    }
    .attackdata{
        background-color: var(--bs-gray-dark)!important; 
    }
    .attackdataDarker{
        background-color: var(--bs-dark)!important; 
    }
    .diceRollerButton{
        background-color: var(--bs-gray-dark)!important; 
    }
    .diceRollerContainer{
        background-color: var(--bs-gray-dark)!important; 
    }
    .diceRollerResult{
        background-color: var(--bs-gray-dark)!important; 
    }
    .progressBar_outer{
        background-color: var(--bs-gray-dark)!important;
    }
    .helpCard{
        background-color: var(--bs-gray-700)!important;
    }
    select{
        color: var(--bs-white)
    }
}

.statsCard{
    max-width: 18vh;
    min-width: 10vh;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
}

.largeStatsCard{
    max-width: 28vh;
    min-width: 10vh;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
}

.statvalue{
    text-align: center;
    font-size: xx-large;
    
}
.statvalue-fixed{
    text-align: center;
    font-size: xx-large;
    width: 50%;
}

.statsContainer{
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.abilityContainer{
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.dropdownCard{
    width: 50vh;
    padding: 1rem;
}
.largeDropdownCard{
    width: 60vh;
    padding: 1rem;
}


.dropdownContainer, .savingThrowsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: xx-large;
}

input.comp{
    width: 70%;
}
input.fill{
    width: 100%;
}

#pgname{
    width: 15em;
}
#pglevel{
    width: 3em; 
}
#pgalign{
    width: 3em;
}

.progressBar_outer{
    width: 55%;
    height:100%;
    min-height: 2.5rem;
    background-color: var(--bs-gray-200);
    border-radius: 0.5rem;
}
.progressBar_inner{
    min-height: 2.5rem;
    height:100%;
    background-color: var(--bs-primary);
    border-radius: 0.5rem;
}

.hpbarContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: xx-large;
}

input.hp{
    width: 18%;
    text-align: center;
}



.space-evenly{
    justify-content: space-evenly;
}

.margin-right-1rem{
    margin-right: 1rem;
}

.margin-left-1rem{
    margin-left: 1rem;
}
.sidebutton{
    margin-right: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 0px !important;
}

.attack{
    display: flex;
    align-items: stretch;
    width: 100%;
}

.clickable{
    cursor: pointer;
}

.attackdata{
    background-color: var(--bs-gray-200);
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem !important;
    border: none;
}


input[type=number].noarrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

.cardtitlerow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nomarginbottom{
    margin-bottom: 0;
}

.padding-left-1rem{
    padding-left: 1rem !important;
}

.margin-left-1rem{
    margin-left: 1rem !important;
}

.margin-right-1rem{
    margin-right: 1rem !important;
}

.justify-content-end{
    justify-content: end;
}
.justify-content-center{
    justify-content: center;
}

#selectFiles{
    display: none;
}

.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}

textarea{
    width: 100%;
    border: none;
    resize: none;
}

textarea.medium{
    height: 370px;
}

textarea.large{
    height: 470px;
}

.flex-wrap{
    flex-wrap: wrap;
}

.spellsContainer{
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    align-items:flex-start;
    justify-content: flex-start;
    flex-direction: row;
}
.horizontalScroll{
    width: 100%;
    overflow-x: scroll;
}

.spellSlot{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.diceRoller{
    background-color: var(--bs-gray-200);
    border-radius: 0.5rem;
    margin: 0;
    padding-inline: 1rem !important;
    width: calc(20vw - 5rem);
}

.diceRollerContainer{
    background-color: var(--bs-gray-200);
    border-radius: 0.5rem;
    margin: 0rem;
    padding: 0.5rem !important;
    width: 15vw;
}

.diceRollerResult{
    background-color: var(--bs-gray-200);
    border-radius: 0.5rem;
    margin: 0rem;
    margin-left: 0.5rem;
    padding: 0.5rem !important;
    width: 10vw;
}

.diceRollerButton{
    background-color: var(--bs-gray-200);
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.5rem !important;
}

button.noborder{
    border:  none;
}

@media (max-width: 950px) {
    .onlyOnLargerScreens{
        display: none;
    }
}

.helpCard{
    background-color: var(--bs-gray-400);
}

.mergeleft{
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.mergeright{
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

h4.fw-bolder{
    margin-bottom: 0;
}

.attackdata.clickable:hover{
    background-color: var(--bs-gray-400);
}

.diceRollerButton:hover{
    background-color: var(--bs-gray-400);
}