<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="Davide " />
        <title>D&D Character Sheet</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- VUE JS CDN-->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/dndstyles.css" rel="stylesheet" />
        <link href="css/modal.css" rel="stylesheet" />

        <!-- MODAL -->
        <script type="text/x-template" id="modal-template">
            <transition name="modal">
              <div class="modal-mask">
                <div class="modal-wrapper">
                  <div class="modal-container card  shadow rounded-4 border-0 mb-5">
      
                    <div class="modal-header ì">
                        <i class="bi bi-x-circle-fill clickable fw-bolder text-primary navbar-brand"  @click="$emit('close')"> </i>
                      <slot name="header">
                      </slot>
                    </div>

                    <div>
                        <slot name="school">
                        </slot>
                    </div>
      
                    <div class="modal-body">
                      <slot name="body">
                      </slot>
                    </div>

                  </div>
                </div>
              </div>
            </transition>
          </script>
          <!--  -->
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0" id="vueContainer">
            <div id = overlay class = "onlyOnLargerScreens" v-if="!loading">
                <div class = "btn btn-primary btn-lg px-3 py-3 me-sm-3 fs-6 fw-bolder sidebutton" @click = "location.href='#stats'">
                    <i class="bi bi-clipboard-data"></i>
                </div>
                <div class = "btn btn-primary btn-lg px-3 py-3 me-sm-3 fs-6 fw-bolder sidebutton" @click = "location.href='#combat'">
                    <i class="bi bi-shield-shaded"></i>
                </div>
                <div class = "btn btn-primary btn-lg px-3 py-3 me-sm-3 fs-6 fw-bolder sidebutton" @click = "location.href='#inventory'">
                    <i class="bi bi-backpack2"></i>
                </div>
                <div class = "btn btn-primary btn-lg px-3 py-3 me-sm-3 fs-6 fw-bolder sidebutton" @click = "location.href='#features'">
                    <i class="bi bi-columns-gap"></i>
                </div>
                <div class = "btn btn-primary btn-lg px-3 py-3 me-sm-3 fs-6 fw-bolder sidebutton" @click = "location.href='#spells'">
                    <i class="bi bi-magic"></i>
                </div>
            </div>
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
                <i class="bi bi-x-circle-fill clickable fw-bolder text-primary navbar-brand exit" @click="location.href = 'https://davideborra.github.io/'"></i>
                <div class="container px-5" v-if="!loading">
                    <div class = pginfo>
                        <input type ="text" class="fw-bolder text-primary navbar-brand" id = "pgname" v-model="pg.name" @input="updated = true;"></input>
                        <label for = "pglevel" class= "fw-bolder text-primary navbar-brand">Lv. </label><input type ="number" class="fw-bolder text-primary navbar-brand" id = "pglevel" v-model="pg.level" @input="updated = true;"></input>
                        <input type ="text" class="fw-bolder text-primary navbar-brand" id = "pgalign" v-model="pg.alignment"  @input="updated = true;"></input>
                        <i v-if="updated">There are unsaved changes</i>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                            <li class="nav-item clickable"><a class="nav-link" @click = "loading = true;">Load</a></li>
                            <li class="nav-item clickable"><a class="nav-link" @click="save()">Save</a></li>
                            <li class="nav-item clickable"><a class="nav-link" @click = "new_pg();">New</a></li>
                            <li class="nav-item clickable"><a class="nav-link" href="help">Help</a></li>
                        </ul>
                    </div>
                </div>
                <div class="container px-5" v-if="loading">
                    <div class = pginfo>
                        <div  class="fw-bolder text-primary navbar-brand" >D&D Character Sheet</div>
                    </div>
                    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                            <div class="nav-item clickable"><a class="nav-link" @click = "new_pg();">New</a></div>
                        </ul>
                    </div> -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                            <li class="nav-item clickable"><a class="nav-link" @click = "new_pg();">New</a></li>
                            <li class="nav-item clickable"><a class="nav-link" href="help">Help</a></li>
                        </ul>
                    </div>

                </div>
            </nav>
            <div class = "pageContainer loadingPage" v-if = "loading">
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-5">
                        <div class="p-5" v-if = "legacy">
                            <h2 class="fw-bolder">Loading</h2>
                            {{errorPrint}}
                            <div class = "d-flex-card align-items-center justify-content-end" >
                                <label class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder margin-right-1rem" for = selectFiles> Upload Saves</label>
                            <input type="file" id="selectFiles" value="" class = "import" v-model ="filepath"/><br />

                            <button id="import" class ="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder margin-left-1rem" @click ="loadDataLegacy();"> Load</button>
                            </div>
                        </div>
                        <div class="p-5" v-if = "!legacy">
                            <h2 class="fw-bolder">Loading</h2>
                            {{errorPrint}}
                            <div class = "d-flex-card align-items-center justify-content-end" >
                            <button id="import" class ="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder margin-left-1rem" @click ="loadData();"> Load</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class = pageContainer v-if= "!loading">
                <!-- STATS CARD -->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5" id = "stats">
                    <div class="card-body p-0">
                        <div class="p-5">
                            <h2 class="fw-bolder">Stats</h2>
                            <div class="d-flex-card align-items-center statsContainer">
                                <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 statsCard">
                                    Strength
                                    <input class="statvalue noarrows" v-model="pg.stats.str" type ="number" @input="updated = true;"></input>
                                    <div class="statmodifier clickable" @click="setRollString('1d20'+nozero(modifier(pg.stats.str)))">{{modifier(pg.stats.str)}}</div>
                                </div>
                                <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 statsCard">
                                    Dexterity
                                    <input class="statvalue noarrows" v-model="pg.stats.dex" type ="number" @input="updated = true;"></input>
                                    <div class="statmodifier" @click="setRollString('1d20'+nozero(modifier(pg.stats.dex)))">{{modifier(pg.stats.dex)}}</div>
                                </div>
                                <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 statsCard">
                                    Constitution    
                                    <input class="statvalue noarrows" v-model="pg.stats.con" type ="number" @input="updated = true;"></input>
                                    <div class="statmodifier" @click="setRollString('1d20'+nozero(modifier(pg.stats.con)))">{{modifier(pg.stats.con)}}</div>
                                </div>
                                <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 statsCard">
                                    Intelligence
                                    <input class="statvalue noarrows" v-model="pg.stats.int" type ="number" @input="updated = true;"></input>
                                    <div class="statmodifier" @click="setRollString('1d20'+nozero(modifier(pg.stats.int)))">{{modifier(pg.stats.int)}}</div>
                                </div>
                                <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 statsCard">
                                    Wisdom
                                    <input class="statvalue noarrows" v-model="pg.stats.wis" type ="number" @input="updated = true;"></input>
                                    <div class="statmodifier" @click="setRollString('1d20'+nozero(modifier(pg.stats.wis)))">{{modifier(pg.stats.wis)}}</div>
                                </div>
                                <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 statsCard">
                                    Charisma
                                    <input class="statvalue noarrows" v-model="pg.stats.cha" type ="number" @input="updated = true;"></input>
                                    <div class="statmodifier" @click="setRollString('1d20'+nozero(modifier(pg.stats.cha)))">{{modifier(pg.stats.cha)}}</div>
                                </div>
                            </div>
                            <div class = "d-flex-card align-items-center abilityContainer">
                                <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 statsCard">
                                    Proficiency Bonus
                                    <input class="statvalue" v-model="pg.compBonus" @input="updated = true;"></input>
                                </div>

                                <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 dropdownCard">
                                    Saving Throws
                                    <div class="dropdownContainer">
                                        <input class="comp" list="Saving_throws" placeholder="Saving Throw" v-model="selected_ts">
                                        <datalist id="Saving_throws">
                                            <select multiple size=6 >
                                            <option v-for="stat in pg.ts" :value="stat_name(stat.id)" >{{stat_name(stat.id)}}
                                            </select>
                                        </datalist> 
                                        <i class="bi bi-circle clickable" v-if="select_ts(selected_ts).image==0" @click="proficiencyST()"></i>
                                        <i class="bi bi-circle-fill cliackable" v-if="select_ts(selected_ts).image==1" @click="proficiencyST()"></i>
                                        <b class="statmodifier" @click="setRollString('1d20'+nozero(tsModifier()))">
                                            {{tsModifier()}}
                                        </b>
                                    </div>
                                </div>

                                <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 dropdownCard">
                                    Ability Checks
                                    <div class="dropdownContainer">
                                        <input class="comp" list="ability_checks" placeholder="Ability Check" v-model="selected_skill">
                                        <datalist id="ability_checks">
                                            <select>
                                                <option v-for="(skill,index) in pg.skills" :value="skill.label">{{skill.label}}
                                            </select>
                                        </datalist> 
                                        <i class="bi bi-circle clickable" v-if="select_skill(selected_skill).image==0" @click="proficiencySkill()"></i>
                                        <i class="bi bi-circle-fill clickable" v-if="select_skill(selected_skill).image==1" @click="proficiencySkill()"></i>
                                        <i class="bi bi-arrow-up-circle-fill clickable" v-if="select_skill(selected_skill).image==2" @click="proficiencySkill()"></i>
                                        <b class="statmodifier" @click="setRollString('1d20'+nozero(skillModifier()))">{{skillModifier()}}</b>
                                    </div>
                                    <div class = "d-flex">
                                        <div class = "attackdata clickable" @click= "pg.factotum = !pg.factotum; updated=true; vueapp.$forceUpdate();" style = "padding-top: 0.15rem !important; padding-bottom: 0.15rem !important; margin: 0 !important;">
                                            <i class="bi bi-circle" v-if="!pg.factotum" ></i>
                                            <i class="bi bi-check-circle" v-if="pg.factotum"></i>
                                        </div>
                                        <div class="margin-left-1rem">Factotum</div>
                                    </div>
                                </div>
                                <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 dropdownCard">
                                    Class
                                    <div class="dropdownContainer">
                                        <input class="fill" placeholder="Class" v-model="pg.class" @input="updated = true;">
                                    </div>
                                    <div >

                                    </div>
                                    <div class = "cardtitlerow">
                                            <div>  Class Points</div>  
                                            <div class = "attackdata clickable" @click= "pg.show_class_points = !pg.show_class_points; updated=true;" style = "padding-top: 0.15rem !important; padding-bottom: 0.15rem !important; margin: 0 !important;">
                                                <i class="bi bi-eye-fill" v-if="!pg.show_class_points" ></i><i class="bi bi-eye-slash-fill" v-if="pg.show_class_points"></i>
                                            </div>
                                        </div>
                                    <div class="hpbarContainer" v-if="pg.show_class_points">
                                        <div class="progressBar_outer">
                                            <div class="progressBar_inner" :style="widthStyleClassPoints()"></div>
                                        </div>
                                        <input v-model="pg.class_points" @input="updated = true;" class="hp text-right" id="cp" type="number" :value="pg.class_points" @input="checkClassPoints()">/<input v-model="pg.max_class_points" @input="updated = true;" class="hp" id = "max_cp" type="number" :value="pg.max_class_points" @input="checkClassPoints()"></i>
                                    </div>
                                </div>
                                <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 dropdownCard">
                                    Race
                                    <div class="dropdownContainer">
                                        <input class="fill" placeholder="Race" v-model="pg.race" @input="updated = true;">
                                    </div>
                                    Background
                                    <div class="dropdownContainer">
                                        <input class="fill" placeholder="Background" v-model="pg.background" @input="updated = true;">
                                    </div>
                                </div>
                                <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 statsCard">
                                    Inspiration
                                    <div class= "attackdata d-flex" >
                                        <i class="bi spellSlot bi-record-circle-fill block" v-for = "num in 4" v-if="num<=pg.ispirazione"></i>
                                        <i class="bi spellSlot bi-circle block" v-for = "num in 4" v-if="num<=(4-pg.ispirazione)"></i>
                                    </div>
                                    <div class = "d-flex justify-content-center">
                                        <div class = "attackdata clickable"  @click= "if(pg.ispirazione>0){pg.ispirazione = pg.ispirazione-1; updated = true;}">
                                            <i class="bi bi-dash-circle"></i>
                                        </div>
                                        <div class = "attackdata clickable" @click= "if(pg.ispirazione<4){pg.ispirazione = pg.ispirazione+1; updated = false;}">
                                            <i class="bi bi-plus-circle"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- COMBAT CARD -->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5" id = "combat">
                    <div class="card-body p-0">
                        <div class="p-5">
                            <h2 class="fw-bolder">Combat</h2>
                            <div class="d-flex-card align-items-center statsContainer">
                                <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 statsCard">
                                    Armor Class
                                    <input class="statvalue" v-model="pg.ca" @input="updated = true;"></input>
                                </div>
                                <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 statsCard">
                                    <div @click="setRollString('1d20'+nozero(pg.init>0?'+'+pg.init:pg.init))">Initiative</div>
                                    <input class="statvalue" v-model="pg.init" @input="updated = true;"></input>
                                </div>
                                <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 statsCard">
                                    Speed    
                                    <input class="statvalue" v-model="pg.vel" @input="updated = true;"></input>
                                </div>
                                <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 dropdownCard">
                                    Hit Dice
                                    <div class ="d-flex">
                                        <input class="statvalue-fixed" v-model="pg.dadi_vita_rimanenti" @input="updated = true;"></input>
                                        <div class = "statvalue">/</div>
                                        <input class="statvalue-fixed" v-model="pg.dadi_vita_massimi" @input="updated = true;"></input>
                                    </div>
                                </div>
                                <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 largeDropdownCard">
                                    Hit Points
                                    <div class="hpbarContainer">
                                        <div class="progressBar_outer">
                                            <div class="progressBar_inner" :style="widthStyleHP()"></div>
                                        </div>
                                        <input v-model="pg.hp" @input="updated = true;" class="hp" id="hp" type="number" :value="pg.hp" @input="checkHP()">/<input v-model="pg.maxHP" @input="updated = true;" class="hp" id = "hpmax" type="number" :value="pg.maxHP" @input="checkHP()"> + <input v-model="pg.tempHP" @input="updated = true;" class="hp" style="width:10%;" id = "hptemp" type="number" @input="checkHP()">
                                        <i class="bi bi-plus-slash-minus" @click="modifyHP = !modifyHP;"></i>
                                    </div>
                                    <div class="hpbarContainer justify-content-end" v-if="modifyHP">
                                        <input v-model="deltaHP" class="hp" id="hp" type="number" > 
                                        <div class = "attackdata clickable" @click= "addHP(+1)">
                                            <i class="bi bi-plus-circle" ></i>
                                        </div>
                                        <div class = "attackdata clickable" @click= "addHP(-1)">
                                            <i class="bi bi-dash-circle"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 largeDropdownCard">
                                    Death Saving Throws
                                    <div class = "savingThrowsContainer" @click="">
                                        <div class="d-flex-card align-items-center space-evenly progressBar_outer margin-right-1rem clickable" @click="pg.ts_morte.fallimenti=(parseInt(pg.ts_morte.fallimenti)+1)%4;">
                                            <i class="bi" :class="tsMorteFail(3)"></i>
                                            <i class="bi" :class="tsMorteFail(2)"></i>
                                            <i class="bi" :class="tsMorteFail(1)"></i>
                                        </div>
                                        <div class="d-flex-card align-items-center space-evenly progressBar_outer margin-left-1rem clickable" @click="pg.ts_morte.successi=(parseInt(pg.ts_morte.successi)+1)%4;">
                                            <i class="bi" :class="tsMorteSuccess(1)"></i>
                                            <i class="bi" :class="tsMorteSuccess(2)"></i>
                                            <i class="bi" :class="tsMorteSuccess(3)"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5">
                                    <div class="card-body p0">
                                        <div class = "cardtitlerow">
                                            <div>  Attack Bonuses</div>  
                                            <div class = "attackdata clickable" @click= "appendEmptyAttack()">
                                                <i class="bi bi-plus-circle" ></i>
                                            </div>
                                        </div>
                                       
                                        <div class="attack" v-for="attack in pg.attack_bonus">
                                            <div class = "attackdata clickable" @click= "pg.attack_bonus = removeFromArray(attack, pg.attack_bonus)"> 
                                                <i class="bi bi-x-circle " ></i>
                                            </div>
                                            <input type = text class = "attackdata" v-model="attack.name" @input="updated = true;" style="width: 35%;">
                                            <input type = text class = "attackdata mergeright" v-model="attack.bonus" @input="updated = true;" style="width: 15%;">
                                            <div class = "attackdata clickable mergeleft" @click= "setRollString('1d20'+nozero(attack.bonus))"> 
                                                <i class="bi bi-dice-6 " ></i>
                                            </div>
                                            <input type = text class = "attackdata mergeright" v-model="attack.danni" @input="updated = true;" style="width: 20%;">
                                            <div class = "attackdata clickable mergeleft" @click= "setRollString(attack.danni)"> 
                                                <i class="bi bi-dice-6 " ></i>
                                            </div>
                                            <input type = text class = "attackdata" v-model="attack.tipo" @input="updated = true;" style="width: 25%;">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- INVENTORY CARD -->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5" id = "inventory">
                    <div class="card-body p-0">
                        <div class="p-5">
                            <h2 class="fw-bolder">Inventory</h2>
                            <div class="d-flex-card align-items-center statsContainer">
                                <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 statsCard" v-for = "money in pg.wallet">
                                    {{money.label}}
                                    <input class="statvalue noarrows" type = "number" v-model="money.value" @input="updated = true;"></input>
                                </div>
                            </div>
                            <div>
                                <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5">
                                    <div class="card-body p0">
                                        <div class = "cardtitlerow">
                                            <div>  Inventory</div>  
                                            <div class= "cardtitlerow">
                                                <div class = "attackdata clickable" v-if="!hideInventory" @click= "pg.inventory.push(''); updated = true;">
                                                    <i class="bi bi-plus-circle" ></i>
                                                </div>
                                                <div class = "attackdata clickable" v-if="hideInventory" @click= "hideInventory = false;">
                                                    <i class="bi bi-arrow-down-circle"></i>
                                                </div>
                                                <div class = "attackdata clickable" v-if="!hideInventory" @click= "hideInventory = true;">
                                                    <i class="bi bi-arrow-left-circle"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="attack" v-for="(item,index) in pg.inventory" v-if="!hideInventory">
                                            <div class = "attackdata" > 
                                                <i class="bi bi-x-circle clickable" @click= "pg.inventory = removeFromArray(item, pg.inventory); updated = true;"></i>
                                            </div>
                                            <input type = text class = "attackdata" v-model="pg.inventory[index]" @input="updated = true;" style="width: 100%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Features  -->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5" id = "features">
                    <div class="card-body p-0">
                        <div class="p-5">
                            <h2 class="fw-bolder">Features</h2>
                            <div class = horizontalScroll>
                                <div class = "spellsContainer">
                                    <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 margin-left-1rem margin-right-1rem largeDropdownCard">
                                        <div class="card-body p0">
                                            <div class = "cardtitlerow">
                                                <div> Features and Traits </div>  
                                                <div class = "attackdata clickable" @click= "appendEmptyFeature()">
                                                    <i class="bi bi-plus-circle" ></i>
                                                </div>
                                            </div>
                                            <div class="attack" v-for="(trait,index) in pg.priv_tratti">
                                                <div class = "attackdata clickable" @click= "pg.priv_tratti = removeFromArray(trait, pg.priv_tratti); updated = true;"> 
                                                    <i class="bi bi-x-circle " ></i>
                                                </div>
                                                <div class = "attackdata" style="width: 100%;"> 
                                                    {{trait.name}}
                                                </div>
                                                <div class = "attackdata clickable" @click= "showInfoPT(index)"> 
                                                    <i class="bi bi-info-circle"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 margin-left-1rem margin-right-1rem largeDropdownCard">
                                        <div class="card-body p0">
                                            <div class = "cardtitlerow">
                                                <div> Limited Features and Traits </div>  
                                                <div class="d-flex">
                                                    <div class = "attackdata clickable" @click= "resetPTL()">
                                                        <i class="bi bi-arrow-counterclockwise"></i>
                                                    </div>
                                                    <div class = "attackdata clickable" @click= "appendEmptyLimitedFeature()">
                                                        <i class="bi bi-plus-circle" ></i>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            <div class="attack" v-for="(trait,index) in pg.PTL">
                                                <div class = "attackdata clickable" @click= "pg.PTL = removeFromArray(trait, pg.PTL); updated = true;"> 
                                                    <i class="bi bi-x-circle " ></i>
                                                </div>
                                                <div class = "attackdata" style="width: 100%;"> 
                                                    {{trait.name}}
                                                </div>
                                                <div class = "attackdata clickable" style = "width: 15%; text-align: center;" @click= "trait.current_uses++; checkPTL(index); updated = true;"> 
                                                    {{trait.current_uses}}/{{trait.max_uses}}
                                                </div>
                                                <div class = "attackdata clickable" @click= "showInfoPTL(index)"> 
                                                    <i class="bi bi-info-circle"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 margin-left-1rem margin-right-1rem largeDropdownCard">
                                        <div class="card-body p0">
                                            <div class = "cardtitlerow">
                                                <div> Languages </div>  
                                                <div class = "attackdata clickable" @click= "pg.languages.push(''); updated = true;">
                                                    <i class="bi bi-plus-circle" ></i>
                                                </div>
                                            </div>
                                            <div class="attack" v-for="(language,index) in pg.languages">
                                                <div class = "attackdata clickable" @click= "pg.languages = removeFromArray(language, pg.languages); updated = true;"> 
                                                    <i class="bi bi-x-circle " ></i>
                                                </div>
                                                <input class = "attackdata clickable"  style="width: 100%;" v-model="pg.languages[index]"  @input="updated = true;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 margin-left-1rem margin-right-1rem largeDropdownCard">
                                        <div class="card-body p0">
                                            <div class = "cardtitlerow">
                                                <div> Other Proficiencies </div>  
                                                <div class = "attackdata clickable" @click= "pg.other_comps.push('')">
                                                    <i class="bi bi-plus-circle" ></i>
                                                </div>
                                            </div>
                                            <div class="attack" v-for="(comp,index) in pg.other_comps">
                                                <div class = "attackdata clickable" @click= "pg.other_comps = removeFromArray(comp, pg.other_comps)"> 
                                                    <i class="bi bi-x-circle " ></i>
                                                </div>
                                                <input class = "attackdata clickable"  style="width: 100%;" v-model = "pg.other_comps[index]">
                                            </div>
                                        </div>
                                    </div>
                                    <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 margin-left-1rem margin-right-1rem largeDropdownCard">
                                        <div class="card-body p0">
                                            <div class = "cardtitlerow">
                                                <div> Attuned Magical Objects </div>  
                                                <div class = "attackdata clickable" @click= "pg.attuned.push(''); updated = true;">
                                                    <i class="bi bi-plus-circle" ></i>
                                                </div>
                                            </div>
                                            <div class="attack" v-for="(obj,index) in pg.attuned">
                                                <div class = "attackdata clickable" @click= "pg.attuned = removeFromArray(obj, pg.attuned); updated = true;"> 
                                                    <i class="bi bi-x-circle " ></i>
                                                </div>
                                                <input class = "attackdata clickable"  style="width: 100%;" v-model="pg.attuned[index]" @input="updated = true;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SPELLS  -->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5" id = "spells">
                    <div class="card-body p-0">
                        <div class="p-5">
                            <div class = cardtitlerow>
                                <h2 class="fw-bolder">Spells</h2>
                                <div class= "d-flex">
                                    <select id = "castingStat" class = "attackdata clickable" v-model="pg.castingStat" @click = "updated = true">
                                        <option value = "str"> Strength </option>
                                        <option value = "dex"> Dexterity </option>
                                        <option value = "con"> Constitution </option>
                                        <option value = "int"> Intelligence </option>
                                        <option value = "wis"> Wisdom </option>
                                        <option value = "cha"> Charisma </option>
                                    </select>
                                    <div class = "attackdata clickable" @click="setRollString('1d20'+nozero(spellMod()))"> 
                                        {{spellMod()}}
                                    </div>
                                    <div class = attackdata>
                                        {{spellTS()}}
                                    </div>
                                    <div class = "attackdata clickable"  @click= "resetSlots()">
                                        <i class="bi bi-arrow-counterclockwise"></i>
                                    </div>
                                    <div class = "attackdata clickable"  @click= "showSpellsSettings = true;">
                                        <i class="bi bi-gear-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class = horizontalScroll>
                                <div class = spellsContainer>
                                    <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5 dropdownCard margin-left-1rem margin-right-1rem" v-for = "level in pg.slots" v-if="level.known>0||level.max>0">
                                        <div class = "cardtitlerow">
                                            <div>  {{level.level==0?"Cantrip":"Level "+level.level}}</div>  
                                            <div class= "cardtitlerow" v-if = "level.level>0 && level.max>0">
                                                <div class= "attackdata d-flex" >
                                                    <i class="bi spellSlot bi-record-circle-fill block" v-for = "num in 4" v-if="num<=level.used"></i>
                                                    <i class="bi spellSlot bi-circle block" v-for = "num in 4" v-if="num<=(level.max-level.used)"></i>
                                                </div>
                                                <div class = "attackdata clickable"  @click= "if(level.used>0){level.used = level.used-1;}; updated = true;">
                                                    <i class="bi bi-dash-circle"></i>
                                                </div>
                                                <div class = "attackdata clickable" @click= "if(level.used<level.max){level.used = level.used+1;}; updated = true;">
                                                    <i class="bi bi-plus-circle"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class = "spell" v-for="(spell,index) in spells_print" v-if="spell.level == level"><input type="checkbox" class="slotsButton" v-model = "spell.prepared">{{spell.name}} <b class = "infobutton" @click="showInfo(index)">ⓘ</b></div>    -->
                                        <div class="attack" v-for="(spell,index) in spells_print" v-if="spell.level == level.level">
                                            <div class = "attackdata clickable" @click = "changePrepared(spell, index); updated = true;" v-if ="level.level>0"> 
                                                <i class="bi bi-circle" v-if="!spells_print[index].prepared"></i>
                                                <i class="bi bi-record-circle-fill" v-if="spells_print[index].prepared"></i>
                                            </div>
                                            <div class = "attackdata" style="width: 100%;"> 
                                                {{spell.name}}
                                            </div>
                                            <div class = "attackdata clickable" @click= "showInfo(index)"> 
                                                <i class="bi bi-info-circle"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SPELLS MODAL -->
                <modal v-if="showSpellDescription" @close="showSpellDescription = false" >
                    <h3 slot="header" class="nomarginbottom padding-left-1rem">{{spells_print[selected_spell].name}} </h3>
                    <h6 slot="school">Scuola di {{spells_print[selected_spell].school}}</h6>
                    <div slot="body">
                        <b class="spellitem">Level:</b> {{spells_print[selected_spell].level==0?'Cantrip':spells_print[selected_spell].level}} <br>
                        <b class="spellitem">Launch time:</b> {{spells_print[selected_spell].time}} <br>
                        <b class="spellitem">Range:</b> {{spells_print[selected_spell].range}} <br>
                        <b class="spellitem">Components:</b> {{spells_print[selected_spell].components}} <br>
                        <b class="spellitem">Duration:</b> {{spells_print[selected_spell].duration}} <br>
                        <b class="spellitem">Damage:</b> {{spells_print[selected_spell].damage==''?'--':spells_print[selected_spell].damage}} <br>
                        <p class =spell_description></p>
                        <p class="spell_description">{{spells_print[selected_spell].description}}</p>
                        <p class="spell_description"><b class="spellitem">At higher levels:</b> {{spells_print[selected_spell].higher_lv}}</p>
                        <b class="spellitem">Manual:</b> {{spells_print[selected_spell].manual}} 
                    </div>
                </modal>

                <!-- TRAITS MODAL -->
                <modal v-if="showPTDescription" @close="showPTDescription = false;" >
                    <h3 slot="header" class="nomarginbottom padding-left-1rem"><input v-model =pg.priv_tratti[selected_PT].name placeholder="Name" @input="updated = true;"> </h3>
                    <div slot="body">
                        <textarea class=large v-model="pg.priv_tratti[selected_PT].description" @input="updated = true;">

                        </textarea>
                    </div>
                </modal>

                <!-- LIMITED TRAITS MODAL -->
                <modal v-if="showPTLDescription" @close="showPTLDescription = false;" >
                    <h3 slot="header" class="nomarginbottom padding-left-1rem"><input v-model =pg.PTL[selected_PTL].name placeholder="Name" @input="updated = true;"> </h3>
                    <h6 slot="school">Recharges every <input style="background-color: none;" v-model =pg.PTL[selected_PTL].charges @input="updated = true;"></h6>
                    <div slot="body">
                        <div class="d-flex-card align-items-center justify-content-between">
                            <div class = "card overflow-hidden shadow rounded-4 border-0 mb-5" >
                                <div class="hpbarContainer justify-content-center">
                                    <input v-model="pg.PTL[selected_PTL].current_uses" class="hp text-right"  type="number" :value="pg.PTL[selected_PTL].current_uses" @input="checkPTL(selected_PTL)" @input="updated = true;">/<input v-model="pg.PTL[selected_PTL].max_uses" class="hp text-left" type="number" :value="pg.PTL[selected_PTL].max_uses" @input="checkPTL(selected_PTL)" @input="updated = true;"></i>
                                </div>
                            </div>
                        </div>
                        <textarea class = medium v-model="pg.PTL[selected_PTL].description" @input="updated = true;">

                        </textarea>
                    </div>
                </modal>
                <!-- SPELL SELECTION MODAL -->
                <modal v-if="showSpellsSettings" @close="showSpellsSettings = false;" >
                    <h3 slot="header" class="nomarginbottom padding-left-1rem">Spells Settings </h3>
                    <div slot="body">
                        <h5>Spells Slots</h5>
                        <div class="horizontalScroll">
                            <div class="spellsContainer">
                                <div v-for="level in pg.slots" v-if="level.level>0">
                                    
                                    <div class = "attackdata text-center" > 
                                        {{level.level}}
                                    </div>
                                    <input class = "attackdata clickable text-center" style = "width:4rem;" type = number v-model = "level.max" @input="checkSlots(level)" @input="updated = true;">
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <h5>Add Spell</h5>
                        <div class = "attackdata" @click= "addSpell()">
                            <i class="bi bi-plus-circle clickable margin-right-1rem margin-left-1rem" ></i> 
                                <input class="attackdata" style = "width: 85%" list="addSpells" placeholder="Spell Name" v-model="spellToAdd">
                            <datalist id="addSpells">
                                <select>
                                    <option v-for="spell in allSpells" :value="spell.name">{{spell.name}}
                                </select>
                            </datalist>
                        </div>
                        <p></p>
                        <h5>Remove Spell</h5>
                        <div class = "attackdata clickable" >
                            <i class="bi bi-x-circle margin-right-1rem margin-left-1rem" @click= "removeSpell()" ></i>
                            <input class="attackdata" style = "width: 85%" list="removeSpells" placeholder="Spell Name" v-model="spellToRemove">
                            <datalist id="removeSpells">
                                <select>
                                    <option v-for="spell in spells_print" :value="spell.name">{{spell.name}}
                                </select>
                            </datalist> 
                        </div>
                    </div>
                </modal>
            </div>
        </main>
        <!-- Footer-->
        <footer class="bg-white py-3 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0">Copyright &copy; Davide Borra 2025</div></div>
                    <div class="col-auto onlyOnLargerScreens">
                        <div class="d-flex">
                            <button class="bi bi-x-circle noborder diceRollerButton mergeright" onclick= "resetRolls()" ></button>
                            <input  class="diceRoller diceRollerContainer mergeleft" placeholder="Roll..." id = "rollString">
                            <button class = "diceRollerButton noborder" onclick= "roll()">
                                <i class="bi bi-dice-6-fill"></i>
                            </button>
                            <div class = "diceRollerResult" id = "rollResult">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/script.js"></script>
        <script src="js/diceRoller.js"></script>
    </body>
</html>
